---
---
<share-actions $click="onClick">
  <fielset role="group" data-spaced>
    <button id="share-button">
      Share
    </button>
    <button id="copy-button">
      Copy 
    </button>
  </fielset>
  <div role="alert"></div>
</share-actions>

<script>
  import "@components/recipe/ShareActions";
</script>
