---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const recipes = await getCollection("Recipes");
  return recipes.map((recipe) => ({
    params: { slug: recipe.slug },
    props: { entry: recipe },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
  <h1>{entry.data.title}</h1>
  <article>

    <img src={entry.data.coverImage} />
    <Content />
  </article>
</Layout>
