---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 id="form-heading">Calculator</h1>

  <calculator-form $change="onChange">
    <dl>
      <dt>Dough weights</dt>
      <dl id="weight" data-unit="gram">967</dl>

      <dt>Hydration</dt>
      <dl id="hydration" data-unit="%">79.9</dl>
    </dl>

    <form aria-labelledby="form-heading">

      <label for="flour">Flour</label>
      <input type="number" id="flour" name="flour" value="0" inputmode="decimal" step="any" min="0">

      <label for="water">Water</label>
      <input type="number" id="water" name="water" value="0" inputmode="decimal" step="any" min="0">

      <label for="salt">Salt</label>
      <input type="number" id="salt" name="salt" value="0" inputmode="decimal" step="any" min="0">

      <label for="sourdough">Sourdough</label>
      <input type="number" id="sourdough" name="sourdough" value="0" inputmode="decimal" step="any" min="0">

    </form>
  </calculator-form>
</Layout>


<script>
  import "@components/calculator/CalculatorForm";
</script>

<style>

dl {
  &:after{
    content: ' ' attr(data-unit);
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input:user-invalid {
  /* TODO: invalid input */
  /* color: red; */
}
</style>
