---
import Layout from "@layouts/Layout.astro";
import Dialog from "@components/Dialog.astro";
---

<Layout>
  <hgroup>
    <h1 id="title">Calculator</h1>
    <p id="description">Calculate your dough hydration and the amount of ingredients.</p>
  </hgroup>

  <calculator-form $input="onChange" $click="onClick" $submit="onSubmit" role="form" aria-labelledby="title" aria-describedby="description">
    <article>

      <dl>
        <dt>Dough weight</dt>
        <dd id="weight" data-unit="gram">...</dd>

        <dt>Hydration</dt>
        <dd id="hydration" data-unit="%">...</dd>
      </dl>

      <calculator-form-group $input="onInput">
        <label for="flour">Flour</label>
        <input type="number" id="flour" name="flour" value="0" inputmode="decimal" min="0" required enterkeyhint="next">
      </calculator-form-group>

      <calculator-form-group $input="onInput">
        <label for="water">Water</label>
        <input type="number" id="water" name="water" value="0" inputmode="decimal" step="any" min="0" required enterkeyhint="next">
      </calculator-form-group>

      <calculator-form-group $input="onInput">
        <label for="salt">Salt</label>
        <input type="number" id="salt" name="salt" value="0" inputmode="decimal" step="any" min="0" required enterkeyhint="next">
      </calculator-form-group>

      <calculator-form-group $input="onInput">
        <label for="sourdough">Sourdough</label>
        <input type="number" id="sourdough" name="sourdough" value="0" inputmode="decimal" step="any" min="0" required enterkeyhint="next">
      </calculator-form-group>

      <div>
        <label>Sourdough ratio</label>
        <input type="range" value="0" step="1" min="0" max="100" id="sourdough_ratio" name="sourdough_ratio" required list="ratio-values" />
        <datalist id="ratio-values">
          <option value="0" label="0"></option>
          <option value="10" label="10"></option>
          <option value="20"></option>
          <option value="30"></option>
          <option value="40"></option>
          <option value="50"></option>
          <option value="60"></option>
          <option value="70"></option>
          <option value="80"></option>
          <option value="90"></option>
          <option value="100"></option>
        </datalist>
      </div>

      <!-- <button id="hydratation-popover-toggle" popovertarget="hydratation-popover">
Tip

<div id="hydratation-popover" popover="auto">
The hydratation is based on the ratio between the whole flour and whole the liquid. Both the sourdough and the extra ingredients affect the liquid content.
</div>
</button> -->

      <button id="weight-edit-button">Set weight</button>

      <Dialog id="weight-dialog" aria-labelledby="weight-dialog-title" aria-describedby="weight-dialog-description">
        <hgroup slot="header">
          <h2 id="weight-dialog-title">Change dough weight</h2>
          <p id="weight-dialog-description">Set your target goal weight.</p>
        </hgroup>

        <Fragment slot="content">
          <div>
            <label for="weight-dialog-input">Dough weight</label>
            <input id="weight-dialog-input" type="number" name="weight" inputmode="decimal" step="any" min="0" required />
          </div>
        </Fragment>

        <Fragment slot="actions">
          <button id="weight-dialog-close-button" type="button" formnovalidate>Cancel</button>
          <input type="submit" value="Confirm" />
        </Fragment>
      </Dialog>


    </article>
  </calculator-form>
</Layout>


<script>
  import "@components/calculator/CalculatorForm";
  import "@components/calculator/CalculatorFormGroup";
</script>

<style>

dd {
  &:after{
    content: ' ' attr(data-unit);
  }

  margin: auto;
}


calculator-form-group {
  display: block;
}

</style>
