---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <hgroup>
    <h1>Bread Toolkit</h1>
    <p>Do you know the secret of baking mouthwatering and soft breads? Are you interested in using sourdough? With the aid of recipes, guides and assets of this page You can learn it.</p>
  </hgroup>
</Layout>
