---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <h1>Library</h1>

  <section id="typography">
    <article>
      <h2>Typography</h2>
      <p>
        Aliquam lobortis vitae nibh nec rhoncus. Morbi mattis neque eget efficitur feugiat.
        Vivamus porta nunc a erat mattis, mattis feugiat turpis pretium. Quisque sed tristique
        felis.
      </p>

      <blockquote>
        Maecenas vehicula metus tellus, vitae congue turpis hendrerit non. Nam at dui sit amet
        ipsum cursus ornare.
        <footer>
          <cite>- Phasellus eget lacinia</cite>
        </footer>
      </blockquote>

      <h3>Lists</h3>
      <ul>
        <li>Aliquam lobortis lacus eu libero ornare facilisis.</li>
        <li>Nam et magna at libero scelerisque egestas.</li>
        <li>Suspendisse id nisl ut leo finibus vehicula quis eu ex.</li>
        <li>Proin ultricies turpis et volutpat vehicula.</li>
      </ul>

      <h3>Inline text elements</h3>
      <p><a href="#" onclick="event.preventDefault()">Link</a></p>
      <p><strong>Bold</strong></p>
      <p><em>Italic</em></p>
      <p><u>Underline</u></p>
      <p><del>Deleted</del></p>
      <p><ins>Inserted</ins></p>
      <p><s>Strikethrough</s></p>
      <p><small>Small </small></p>
      <p>Text <sub>Sub</sub></p>
      <p>Text <sup>Sup</sup></p>
      <p>
        <abbr title="Abbreviation" data-tooltip="Abbreviation">Abbr.</abbr>
      </p>
      <p><kbd>Kbd</kbd></p>
      <p><mark>Highlighted</mark></p>

      <h1>Heading 1</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suscipit torquent nostra donec. Habitant habitasse massa aliquet. Duis nostra et urna. Sollicitudin elementum torquent urna. Fermentum massa pulvinar quam. A cum justo auctor.
      </p>
      <h2>Heading 2</h2>
      <p>
        Nisl vehicula risus varius. Per sit porta venenatis. Duis interdum laoreet odio. Vivamus magnis sagittis hendrerit. Posuere nascetur dolor cubilia. Diam nascetur condimentum nam. Porta nulla dictumst consequat.
      </p>
      <h3>Heading 3</h3>
      <p>
        Suspendisse nam fringilla volutpat. In velit cras habitant. Nisl primis metus nascetur. Aliquet praesent eros vestibulum. In tellus etiam malesuada. Volutpat aptent venenatis tempus. Faucibus proin imperdiet nisl.
      </p>
      <h4>Heading 4</h4>
      <p>
        Felis duis at class. Dapibus quam ipsum mattis. Eget curabitur porta vestibulum. Dignissim vestibulum congue inceptos. Tincidunt mattis a tincidunt. Phasellus sollicitudin nisl nisi. Cum venenatis diam et.
      </p>
      <h5>Heading 5</h5>
      <p>
        Posuere rhoncus lorem quis. Dui vivamus molestie tellus. Morbi orci aptent phasellus. Non vulputate a facilisi. Adipiscing taciti enim conubia. Imperdiet purus dignissim vitae. Sagittis dictumst porta donec.
      </p>
      <h6>Heading 6</h6>
      <p>
        Malesuada arcu elementum dui. Elementum eleifend accumsan faucibus. Non sociis pretium posuere. At interdum sociis praesent. Nisl duis potenti integer. Placerat interdum pulvinar dolor. Faucibus urna ipsum vulputate.
      </p>
    </article>
  </section>
</Layout>
