---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const recipes = await getCollection("Recipes");

const sortedRecipes = recipes.sort(
  (left, right) => right.data.date.getTime() - left.data.date.getTime(),
);
---

<Layout>
  <hgroup>
    <h1>Recipes</h1>
    <p>Find and bake a recipe of your taste</p>
  </hgroup>
  <article>
    {
      sortedRecipes.map((recipe) => {
        return (
            <article>
              <a href={`/recipes/${recipe.slug}`} data-astro-prefetch>
                <h2 id={recipe.slug}>{recipe.data.title}</h2>
              </a>
            </article>
        );
      })
    }
  </article>
</Layout>

<style>

h1 {
  --title-leading: var(--leading-fine);
}

h2 {
  --font-size: var(--font-size-6);
}
</style>
