---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"dialog"> {}

const props = Astro.props;
---

<dialog closedby="any" {...props}>
  <form method="dialog">
    <article>
      <slot name="header" />
      <slot name="content" />
      <footer>
        <slot name="actions"/>
      </footer>
    </article>
  </form>
</dialog>
