---
const currentPath = Astro.url.pathname;

export const pages = ["calculator", "recipes"];
---

<nav>
  <a href="/">Home</a>
  <menu>
    {pages.map((name) => {
      const currentPage = currentPath === `/${name}` ? "page" : undefined;
      return (
        <li aria-current={currentPage}>
          <a href={`/${name}`}>{name}</a>
        </li>
      );
    })}
  </menu>
</nav>

