/* https://edwardtufte.github.io/et-book/ */
@font-face {
  font-family: "ET Book";
  font-weight: 100 400;
  font-style: normal;
  font-display: fallback;
  src:
    local("ET Book"),
    url("/fonts/etbookot-roman-webfont.woff2") format("woff2");
  unicode-range:
    U+0000, U+0020-007E, U+00A0-00FF, U+0152-0153, U+0178,
    U+02C6, U+02DC, U+2000-200A, U+2010-2014, U+2018-201A, U+201C-201E,
    U+2022, U+2026, U+202F, U+2039-203A, U+205F, U+20AC, U+2122, U+25FC,
    U+FB00-FB04;
}

@font-face {
  font-family: "ET Book";
  font-weight: 500 900;
  font-style: normal;
  font-display: fallback;
  src:
    local("ET Book"),
    url("/fonts/etbookot-bold-webfont.woff2") format("woff2");
  unicode-range:
    U+0020-007E, U+00A0-00A3, U+00A5-00FF, U+0152-0153,
    U+0178, U+02C6, U+02DC, U+2000-200A, U+2010-2014, U+2018-201A,
    U+201C-201E, U+2022, U+2026, U+202F, U+2039-203A, U+205F, U+20AC,
    U+2122, U+25FC, U+FB00-FB04;
}

@font-face {
  font-family: "ET Book";
  font-style: italic;
  font-display: fallback;
  src:
    local("ET Book"),
    url("/fonts/etbookot-italic-webfont.woff2") format("woff2");
  unicode-range:
    U+0020-007E, U+00A0-00FF, U+0152-0153, U+0178, U+02C6,
    U+02DC, U+2000-200A, U+2010-2014, U+2018-201A, U+201C-201E, U+2022,
    U+2026, U+202F, U+2039-203A, U+205F, U+20AC, U+2122, U+25FC,
    U+FB00-FB04;
}
