/* https://edwardtufte.github.io/et-book/ */
@font-face {
  font-family: "ET Book";
  font-style: normal;
  font-display: fallback;
  src:
    local("ET Book"),
    url("/fonts/etbookot-roman-webfont.woff2") format("woff2");
}
