@import url("./reset.css") layer(reset);
@import url("./fonts.css") layer(base);

@layer reset,
  base,
  typography,
  theme,
  components,
  utilities,
  animations,
  viewtransition,
  customproperty,
  scrollanimation;

:root {
  /* Typography */
  --font-family: "ET Book", Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --font-normal: 400;
  --font-bold: 700;

  /* 15px → 18px */
  --small-font-size: clamp(0.9377rem, 0.861rem + 0.341vw, 0.1253rem);
  /* 20px → 24px */
  --body-font-size: clamp(1.25rem, 1.1477rem + 0.4545vi, 1.5rem);

  /* Perfect Fourth */
  --type-ratio: 1.33;

  --font-size-6: calc(var(--body-font-size) * var(--type-ratio));
  --font-size-5: calc(var(--font-size-6) * var(--type-ratio));
  --font-size-4: calc(var(--font-size-5) * var(--type-ratio));
  --font-size-3: calc(var(--font-size-4) * var(--type-ratio));
  --font-size-2: calc(var(--font-size-3) * var(--type-ratio));
  --font-size-1: calc(var(--font-size-2) * var(--type-ratio));

  /* Space 3xs: 5px → 6px */
  --space-3xs: clamp(0.3125rem, 0.2869rem + 0.1136vw, 0.375rem);
  /* Space 2xs: 10px → 12px */
  --space-2xs: clamp(0.625rem, 0.5739rem + 0.2273vw, 0.75rem);
  /* Space xs: 15px → 18px */
  --space-xs: clamp(0.9375rem, 0.8608rem + 0.3409vw, 1.125rem);
  /* Space s: 20px → 24px */
  --space-s: clamp(1.25rem, 1.1477rem + 0.4545vw, 1.5rem);
  /* Space m: 30px → 36px */
  --space-m: clamp(1.875rem, 1.7216rem + 0.6818vw, 2.25rem);
  /* Space l: 40px → 48px */
  --space-l: clamp(2.5rem, 2.2955rem + 0.9091vw, 3rem);
  /* Space xl: 60px → 72px */
  --space-xl: clamp(3.75rem, 3.4432rem + 1.3636vw, 4.5rem);
  /* Space 2xl: 80px → 96px */
  --space-2xl: clamp(5rem, 4.5909rem + 1.8182vw, 6rem);
  /* Space 3xl: 120px → 144px */
  --space-3xl: clamp(7.5rem, 6.8864rem + 2.7273vw, 9rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 5px → 12px */
  --space-3xs-2xs: clamp(0.3125rem, 0.1335rem + 0.7955vw, 0.75rem);
  /* Space 2xs-xs: 10px → 18px */
  --space-2xs-xs: clamp(0.625rem, 0.4205rem + 0.9091vw, 1.125rem);
  /* Space xs-s: 15px → 24px */
  --space-xs-s: clamp(0.9375rem, 0.7074rem + 1.0227vw, 1.5rem);
  /* Space s-m: 20px → 36px */
  --space-s-m: clamp(1.25rem, 0.8409rem + 1.8182vw, 2.25rem);
  /* Space m-l: 30px → 48px */
  --space-m-l: clamp(1.875rem, 1.4148rem + 2.0455vw, 3rem);
  /* Space l-xl: 40px → 72px */
  --space-l-xl: clamp(2.5rem, 1.6818rem + 3.6364vw, 4.5rem);
  /* Space xl-2xl: 60px → 96px */
  --space-xl-2xl: clamp(3.75rem, 2.8295rem + 4.0909vw, 6rem);
  /* Space 2xl-3xl: 80px → 144px */
  --space-2xl-3xl: clamp(5rem, 3.3636rem + 7.2727vw, 9rem);

  --leading: 1.4;
  --leading-short: 1.3;
  --leading-slim: 1.2;
  --leading-fine: 1.1;
  --leading-flat: 1;
  --leading-mini: 0.9;
  --leading-micro: 0.8;

  --main-title-leading: var(--leading-flat);
  --main-title-space: 0.5em;

  /* Layout */
  --gap: var(--space-s-m);
  --full: minmax(var(--gap), 1fr);
  --content: min(70ch, 100% - var(--gap) * 2);
  --popout-max: var(--space-m);
  --popout: minmax(0, var(--popout-max));
  --grid-row-nav: min-content;

  color-scheme: dark light;

  background-color: var(--color-bg);
  color: var(--color-fg);
}

@layer base {
  /* Layout */
  body {
    display: grid;
    grid-template-columns:
      [full-start] var(--full) [popout-start] var(--popout) [content-start] var(--content)
      [content-end] var(--popout) [popout-end] var(--full) [full-end];
    grid-template-rows: min-content;
    row-gap: var(--gap);
  }

  body > :is(header, main, footer) {
    grid-column: content;
  }

  main {
    container: main / inline-size;
  }

  header {
    padding-block: var(--space-xs-s);
  }

  nav,
  menu {
    display: flex;
    justify-content: var(--menu-alignment, space-between);
    flex-wrap: var(--menu-wrap, auto);
    margin: 0;
    padding: 0;
    gap: var(--space-xs);

    li {
      text-transform: capitalize;
    }

    &[data-variant="submenu"] {
      --menu-wrap: wrap;
      --menu-alignment: auto;

      margin-block-end: var(--flow-space, 1em);
    }
  }

  /* Spacing */
  article > * + *,
  section > * + *,
  form > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  /* Text overflow handling */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    hyphens: auto;
  }

  /* Divider */
  hr {
    margin-block: var(--flow-space, var(--space-l));
  }

  /* Table */
  table {
    --stroke: 1px solid CanvasText;
    border: var(--stroke);
    border-collapse: collapse;
    width: 100%;

    th {
      text-align: left;
      font-weight: var(--font-bold);
      line-height: var(--leading-fine);
    }

    th {
      padding-block: var(--space-s);
    }

    thead,
    tfoot {
      background: var(--color-table-header-bg);
    }

    td,
    th {
      padding: var(--space-xs) var(--space-s);
      border: var(--stroke);
    }

    caption {
      caption-side: bottom;
      margin-block-start: var(--space-s);
    }
  }

  /* Definition list */
  dl {
    dt {
      font-weight: var(--font-bold);
      line-height: var(--leading-fine);
    }

    dd {
      margin-inline-start: var(--details-inline-space, 1.5ch);

      &[data-variant="emphasized"] {
        --details-inline-space: 0;
        --details-block-space: 0;
        font-size: var(--font-size-4);
        font-weight: var(--font-bold);
        line-height: var(--leading-mini);
      }
    }

    dt + dd {
      margin-block-start: var(--details-block-space, 0.75em);
      line-height: var(--leading-fine);
    }

    dd + dt,
    dd + div {
      margin-block-start: var(--term-block-space, 1em);
    }

    dd[data-variant="comment"],
    dt[data-variant="comment"] {
      --details-inline-space: 0;
      --details-block-space: 0;
      display: inline;
      font-weight: var(--font-normal);
    }
  }

  /* List */
  ul:not([class]) {
    padding-inline-start: 2.5ch;
  }

  ol:not([class]) ::marker {
    font-size: 1em;
    font-weight: var(--font-bold);
  }

  :is(ol, ul):not([class]) li {
    margin-block-start: var(--flow-space, 0.75em);
  }

  /* Focus management */
  :focus {
    outline: none;
  }

  :focus-visible {
    outline: 4px dotted var(--color-focus, currentColor);
    outline-offset: var(--focus-offset, 0.25rem);
  }

  :target {
    --stroke: 2px solid Highlight;
    scroll-margin-block: 5lh;
    border: var(--stroke);
  }

  ::selection {
    color: var(--color-selection-txt);
    background: var(--color-selection-bg);
  }

  pre {
    white-space: pre-wrap;
    background: var(--color-preformatted-bg);
    color: var(--color-preformatted-txt);
    padding: 1.5em;
  }

  /* Form */
  :is(input, select, textarea) {
    accent-color: var(--color-accent);
  }

  :is(input:not([type="checkbox"], [type="radio"], [type="color"]), select, textarea, button) {
    padding: var(--padding-block, 0.35em) var(--padding-inline, 0.65em);
  }

  /* Block sized inputs */
  :is(
      input:not(
          [type="checkbox"],
          [type="radio"],
          [type="color"],
          [type="submit"],
          [type="reset"],
          [type="button"]
        ),
      select,
      textarea
    ) {
    inline-size: 100%;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* Buttons */
  :is(button, input[type="submit"], input[type="reset"], [type="button"]) {
    --button-bg: var(--color-button-bg);
    --button-txt: var(--color-button-txt);
    --button-stroke: 0px solid transparent;
    background: var(--button-bg);
    border: var(--button-stroke);
    color: var(--button-txt);
  }

  :is(input[type="submit"], input[data-variant="primary"]) {
    --button-bg: var(--color-button-primary-bg);
  }

  :is(input[type="button"][data-outline], button[data-outline]) {
    --button-stroke: 2px solid var(--color-button-outline-border);
    --button-bg: transparent;
    --button-txt: var(--color-button-outline-txt);
  }

  label,
  legend {
    font-weight: var(--font-bold);
  }

  label {
    line-height: var(--leading-fine);
  }

  /* The ::after rule creates a line break, allowing the label itself to remain as an inline element. */
  label::after {
    content: "\A";
    white-space: pre;
  }

  fieldset label {
    font-weight: revert;
  }

  legend {
    padding-inline: var(--space-xs);
  }

  details {
    /* Details */
    summary {
      font-weight: var(--font-bold);
      cursor: pointer;
      display: list-item;
    }

    &[open] summary {
      margin-block-end: var(--space-s);
    }
  }

  hgroup {
    margin-block-end: var(--main-title-space, 0.5em);

    h1 {
      margin-block-end: auto;
    }

    &:has(h1) {
      font-size: var(--font-size-1);
    }

    p {
      font-size: var(--body-font-size);
    }
  }

  h1 {
    margin-block-end: var(--main-title-space);
    line-height: var(--main-title-leading);
  }

  a {
    color: currentColor;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 0.3ex;
    text-underline-offset: 0.3ex;
  }

  mark {
    background: var(--color-mark-bg);
    color: var(--color-mark-txt);
  }

  [popover],
  dialog,
  ::backdrop {
    --transition-duration: 0ms;
    transition:
      display var(--transition-duration) allow-discrete,
      overlay var(--transition-duration) allow-discrete,
      opacity var(--transition-duration),
      transform var(--transition-duration);
    opacity: 0;
    transform: translateY(0);
  }

  dialog {
    margin: auto;
    inline-size: min(100%, 50ch);
    padding: var(--space-m);
    border: 0;

    footer {
      display: flex;
      gap: var(--space-xs);
    }
  }

  [role="group"] {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }

  ::backdrop {
    background: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(4px);
  }

  :popover-open,
  [open],
  [open]::backdrop {
    opacity: 1;
  }

  @starting-style {
    :popover-open,
    [open],
    [open]::backdrop {
      opacity: 0;
      transform: translateY(calc(-1 * var(--space-s)));
    }
  }

  /* Hide scroll when the dialog is open */
  :has(dialog[open]) {
    overflow: hidden;
  }

  [popover] {
    inset: unset;
    position: absolute;
    inset-block-end: calc(anchor(top) + var(--space-2xs));
    inset-inline-start: calc(anchor(left));
    justify-self: anchor-center;

    inline-size: 25ch;
    padding: var(--space-xs);
    border: var(--stroke);
  }

  dialog,
  [popover] {
    --stroke: 1px solid CanvasText;
    background-color: var(--color-dialog-bg);
    box-shadow: 0 2px 8px var(--color-dialog-shadow);
  }
}

@layer typography {
  body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-family);
    font-size: var(--body-font-size);
    font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures
      contextual;
  }

  h1,
  h2,
  h3 {
    font-weight: var(--font-bold);
  }

  h4,
  h5,
  h6 {
    font-weight: var(--font-normal);
  }

  h1 {
    --font-size: var(--font-size-1);
    font-size: var(--font-size);
  }

  h2 {
    --font-size: var(--font-size-2);
    font-size: var(--font-size);
  }

  h3 {
    --font-size: var(--font-size-3);
    font-size: var(--font-size);
  }

  h4 {
    --font-size: var(--font-size-4);
    font-size: var(--font-size);
  }

  h5 {
    --font-size: var(--font-size-5);
    font-size: var(--font-size);
  }

  h6 {
    --font-size: var(--font-size-6);
    font-size: var(--font-size);
  }

  @supports (font-size: 1cqi) {
    :is(h1, h2, h3, h4, h5, h6) {
      --_font-min: calc(var(--font-size) - var(--font-size) * var(--font-size-diff, 0.3));

      /* https://moderncss.dev/container-query-units-and-fluid-typography/ */
      font-size: clamp(
        max(var(--body-font-size), var(--_font-min)),
        var(--_font-min) +
        1cqi,
        var(--font-size)
      );
    }
  }

  h1 {
    max-inline-size: 20ch;
  }

  h2,
  h3 {
    max-inline-size: 28ch;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* https://cloudfour.com/thinks/responsive-letter-spacing/ */
    letter-spacing: clamp(-0.01em, calc((1em - 1rem) / -10), 0em);
  }

  blockquote::before,
  q::before {
    content: open-quote;
  }

  blockquote::after,
  q::after {
    content: close-quote;
  }

  blockquote {
    max-inline-size: 60ch;
    font-size: var(--font-size-6);

    p {
      display: inline;
    }

    footer,
    cite {
      font-size: var(--body-font-size);
    }

    &:has(footer):after {
      content: "";
    }
  }

  dialog h2 {
    --font-size: var(--font-size-4);
  }
}

@layer theme {
  :root {
    --color-dark: oklch(0.1118 0.0457 29.23);
    --color-light: oklch(0.9719 0.0152 82.79);

    /*
  Generated via Harmonizer: https://harmonizer.evilmartians.com/#W1siMTAwIiw5OCxudWxsLCIyMDAiLDczLG51bGwsIjMwMCIsNDUsbnVsbCwiNDAwIiw2MCxudWxsLCI1MDAiLDczLG51bGwsIjYwMCIsOTgsbnVsbF0sWyJSZWQiLDIyLCJDb3JhbCIsMzEsIk1haG9nYW55Iiw0MCwiTXVzdGFyZCIsODAsIlNreSIsMjIwXSxbImFwY2EiLCJmZ1RvQmciLCJtYXgiLCJva2xjaCgwLjk3MTkgMC4wMTUyIDgyLjc5KSIsIm9rbGNoKDAuMTExOCAwLjA0NTcgMjkuMjMpIiwzLCJwMyJdXQ
*/
    --red-100: oklch(0.96 0.03 22);
    --red-200: oklch(0.84 0.11 22);
    --red-300: oklch(0.69 0.25 22);
    --red-400: oklch(0.62 0.28 22);
    --red-500: oklch(0.52 0.23 22);
    --red-600: oklch(0.22 0.1 22);
    --coral-100: oklch(0.96 0.03 31);
    --coral-200: oklch(0.84 0.11 31);
    --coral-300: oklch(0.69 0.25 31);
    --coral-400: oklch(0.63 0.27 31);
    --coral-500: oklch(0.52 0.23 31);
    --coral-600: oklch(0.22 0.1 31);
    --mahogany-100: oklch(0.96 0.03 40);
    --mahogany-200: oklch(0.84 0.11 40);
    --mahogany-300: oklch(0.69 0.24 40);
    --mahogany-400: oklch(0.62 0.22 40);
    --mahogany-500: oklch(0.52 0.18 40);
    --mahogany-600: oklch(0.23 0.08 40);
    --mustard-100: oklch(0.96 0.05 80);
    --mustard-200: oklch(0.84 0.2 80);
    --mustard-300: oklch(0.67 0.16 80);
    --mustard-400: oklch(0.61 0.15 80);
    --mustard-500: oklch(0.51 0.12 80);
    --mustard-600: oklch(0.23 0.05 80);
    --sky-100: oklch(0.95 0.04 220);
    --sky-200: oklch(0.82 0.14 220);
    --sky-300: oklch(0.65 0.16 220);
    --sky-400: oklch(0.59 0.14 220);
    --sky-500: oklch(0.5 0.12 220);
    --sky-600: oklch(0.22 0.05 220);

    --color-bg: light-dark(var(--color-light), var(--color-dark));
    --color-fg: light-dark(var(--mahogany-600), var(--mahogany-100));

    --color-primary: light-dark(var(--red-400), var(--red-300));
    --color-secondary: light-dark(var(--pelorus-500), var(--amber-300));

    --color-input-txt: var(--color-fg);
    --color-input-bg: light-dark(var(--mahogany-100), var(--mahogany-600));

    --color-button-bg: CanvasText;
    --color-button-txt: Canvas;

    --color-button-primary-bg: var(--color-primary);
    --color-button-outline-txt: var(--color-primary);
    --color-button-outline-border: var(--color-primary);

    --color-accent: light-dark(var(--mahogany-500), var(--mahogany-300));

    --color-focus: light-dark(var(--mahogany-600), var(--mahogany-100));

    --color-selection-bg: light-dark(var(--sky-500), var(--sky-100));
    --color-selection-txt: var(--color-bg);

    /* Progressive enhancement: this will fall back to the bg if not supported */
    --color-soft: light-dark(
      lch(from var(--color-bg) calc(l - 10) calc(c + 5) h),
      lch(from var(--color-bg) calc(l + 12) calc(c + 5) h)
    );

    --color-table-header-bg: var(--color-soft);

    --color-mark-bg: var(--color-selection-bg);
    --color-mark-txt: var(--color-selection-txt);

    --color-preformatted-bg: CanvasText;
    --color-preformatted-txt: Canvas;

    --color-dialog-bg: var(--color-soft);
    --color-dialog-shadow: lch(from var(--color-dark) l c h / 0.5);
  }
}

@layer utilities {
  .visually-hidden {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1;
    width: 1;
    margin: -1;
    padding: 0;
    border: 0;
  }
}
